$primary-color1: hsl(300, 43%, 22%); //purple
$primary-color2: hsl(333, 80%, 67%); //pink
$neutral-color1: hsl(303, 10%, 53%); //light purple
$neutral-color2: hsl(300, 24%, 96%); //white purple
$neutral-color3: hsl(0, 0%, 100%);   //white

$radius: 5px;

$font-size: 15px;

$font-weights: (
    "thin": 400,
    "norm": 500,
    "bolden": 700
);